.loginScreen {
  display: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/399d6794-b770-4b21-992d-a3326710a170/8ce7bf95-1e1a-4896-8c7c-e8c05b43603d/NP-en-20210215-popsignuptwoweeks-perspective_alpha_website_small.jpg")
    center no-repeat;
  background-size: cover;
  object-fit: contain;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__logo {
  position: fixed;
  width: 10%;
  left: 35px;
  top: 20px;
}

.loginScreen__button {
  position: fixed;
  right: 30px;
  top: 20px;
  padding: 10px 17px;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.loginScreen__body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
}

.loginScreen__body>h1{
  font-size: 3.25rem;
  padding-bottom: 20px;
}

.loginScreen__body>h2{
font-size:1.5rem ;
padding-bottom: 30px;
font-weight: 500;
}

.loginScreen__body>h3{
  padding-bottom: 20px;
}
.loginScreen__input>form>input{
  padding: 10px;
  height: 29px;
  width: 40%;
  border: none;
  outline: 0;
}

.loginScreen__getStarted{
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
}